@import "@app/assets/styles/gColors.scss";

.pagination-container {
  justify-content: flex-end;
  margin-top: 20px;
  .ant-pagination-item-link {
    border-radius: 50%;
  }
  .ant-pagination-item {
    border: none;
    margin: 0 10px;
  }
  .ant-pagination-item-active {
    background-color: $bg-color-2;
    border-radius: 50%;
    p {
      color: $bg-color-1;
    }
    // .ant-pagination-disabled{
    //   cursor: pointer;

    // }
  }
  .ant-pagination-disabled,
  .ant-pagination-disabled:hover {
    cursor: not-allowed;
    rect {
      stroke: $color7;
    }
    path {
      fill: $color7;
    }
  }
}
