@import "@app/assets/styles/gColors.scss";
@import "@app/assets/styles/gMixin.scss";

.profile-wrapper {
  display: flex;
  width: 50%;
  align-items: center;
  .profile {
    @include flexCentered;
  }
  .profile-container {
    max-width: 45px;
    min-width: 45px;
    width: 100%;
    border-radius: 50%;
    min-height: 45px;
    height: 100%;
    max-height: 45px;
    @include flexCentered;
    color: $bg-color-1;
    cursor: pointer;
    margin-right: 15px;
  }
  .profile-name-container {
    font-weight: 600;
    color: $color1;
  }
}
