@import "@app/assets/styles/gColors.scss";

.i-graph-main {
  width: 51vw;
  height: 330px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 20px 20px 0 20px;

  .i-graph-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .title-container {
      width: 400px;
      p {
        font-weight: 700;
        font-size: 20px;
        color: #121926;
      }
    }
    .drop-container {
      margin-left: 10px;
    }
  }

  .i-graph-container {
    margin-top: 10px;
    height: 230px;
  }
}
