.gridViewContainer {
  gap: 20px;
}

.both {
  flex-wrap: nowrap;
  column-gap: 20px;
}
.vertical-align {
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 0;
}
.center-align {
  flex-direction: column;
  justify-content: center;
  row-gap: 0;
}
