@import "@app/assets/styles/gColors.scss";

.text-input-container {
  width: 100%;
  position: relative;
  .legend-label {
    position: absolute;
    top: 0px;
    left: 7px;
    padding: 0 6px;
    z-index: 10;
    font-size: 10px;
    background: $bg-color-1;
  }
  label {
    text-transform: capitalize;
  }
  .ant-input-prefix {
    padding-left: 4px;
    margin-right: 8px;
  }
  .search-input {
    max-width: 290px;
    min-width: 270px;
    height: 42px;
    border-radius: 10px;
    input {
      font-size: 15px;
    }
  }
}
