@import "@app/assets/styles/gColors.scss";

.tab-container {
  background-color: $bg-color-1;
  p {
    margin: 0;
  }
  .ant-tabs-nav {
    padding: 0 2%;
    box-shadow: 0 2px 3px 0px rgb(0 0 0 / 10%);
  }
  .ant-tabs-nav::before {
    content: none;
  }
  > .ant-tabs-card .ant-tabs-content {
    height: 120px;
    margin-top: -16px;
  }
  .ant-tabs-content {
    padding: 10px 16px;
    background: $bg-color-1;
    overflow: auto;
    min-height: 68vh;
  }
  .ant-tabs-tab {
    padding: 12px 18px;
    min-width: 9vw;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  > .ant-tabs-card .ant-tabs-tab,
  [data-theme="compact"] .card-container > .ant-tabs-card .ant-tabs-tab {
    background: transparent;
    border-color: transparent;
  }
  .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
  .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 30px;
    height: 50px;
  }
  .ant-tabs-tab-btn {
    text-transform: capitalize;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
  .ant-tabs-tab:hover {
    color: $color1;
    span {
      fill: $color1;
      path {
        fill: $color1;
      }
    }
  }
}
