@import "@app/assets/styles/gColors.scss";

.admin-header-container {
  width: 100%;
  min-height: 12vh;
  background: $bg-color-1;
  border-radius: 5px;
  position: relative;
  padding: 0.5%;
  padding-left: 1%;
  .admin-header-name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    color: $color1;
    margin-top: 1%;
  }
  .admin-header-desc {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: $color2;
  }
}
