$bg-color-1: #fff;
$bg-color-2: #0f73c3;
$bg-color-3: #a19898;
$bg-color-4: #f3f4f6;
$bg-color-5: #e2e2e2;
$bg-color-6: #bababa;
$bg-color-7: #f5f3f3;
$bg-color-8: #fafafa;
$bg-color-9: #ff6e67;
$bg-color-10: #40bc21;
$bg-color-11: #00b4d8;
$bg-color-13: #ebf1ff;
$bg-color-14: #13bfcb;
$bg-color-15: #5edde5;
$bg-color-16: #88c5eb;
$bg-color-17: #4098cf;
$bg-color-18: #e7060a;
$bg-color-19: #ebf8f9;
$bg-color-20: #0076bf;
$bg-color-21: #ffff00;
$bg-color-22: #e55b70;

$color1: #0076bf;
$color2: #626262;
$color3: red;
$color4: black;
$color5: #737171;
$color6: #f4f7fe;
$color7: #c0c0c0;
$color8: #cacaca;
$color9: #777777;
$color10: #aeaeae;
$color11: #ff4d4f;
$color12: #050505;
$color13: #b4b4b4;
$color14: #ffffff;
$color15: #49454f;
$color16: #808080;
$color17: #f0f3f8;
$color18: #323136;
$color19: #0076BF10;

$border-color1: #b3b3b3;
$border-color2: #d9d9d9;
$border-color3: #ff4d4f;
$border-color4: #e2e1e1;

$gradient1: linear-gradient(
    144.79deg,
    #3ab19b 0.94%,
    #3aadaf 56.66%,
    #3aa9bf 100%
  )